/* ----------------- Education Mac Window Styling ----------------------*/

.education-wrapper {
  display: flex;
  gap: 2rem; /* space between windows */
  flex-wrap: wrap; /* stack on smaller screens */
  justify-content: center; /* center horizontally */
  margin-top: 2rem;
}

.education-window {
  flex: 1;
  max-width: auto; /* fixed width for cards */
  overflow: hidden;
  text-align: center; /* center content */
  margin: 2rem;
  background-color: var(--bg-dark);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  box-shadow: inset 0 0 20px var(--bg-card);
  padding: 10px;
}

/* Logo */
.education-window .edu-logo {
  display: block;
  margin: 1rem auto 0.5rem;
  width: auto; /* uniform width */
  height: 150px;
  object-fit: fill; /* scale nicely without cropping */
  border-radius: 8px; /* optional: slightly rounded corners */
  background-color: var(--text-secondary);
  padding: 0.25rem;
}

/* Window header (University name) */
.education-window .window-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.education-window .window-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* border thickness */
  background: linear-gradient(
    to right,
    var(--headers) 0%,
    var(--text-muted) 50%,
    var(--text-primary) 100%
  );
}

.education-window .window-header h3 {
  font-size: 1.2rem;
  color: var(--text-primary);
}

/* Year */
.education-window .edu-year {
  display: inline-block;
  background: var(--headers);
  color: var(--text-primary);
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.window-content p {
  font-size: 1rem;
  color: var(--text-secondary);
}

/* Extra small devices (phones, <=480px) */
@media (max-width: 480px) {
  /* Education Windows */
  .education-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .education-window {
    margin: 1rem auto;
    width: 100%;
  }

  .education-window .edu-logo {
    height: 100px;
  }

  .education-window .window-header h3 {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }

  .education-window .edu-year {
    font-size: 0.75rem;
  }
  .window-content p {
    font-size: 0.6rem;
    color: var(--text-secondary);
  }
}

@media (max-width: 1025px) {
  .education-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .education-window .edu-logo {
    height: 120px;
  }
}
